{% extends "tasks/base.html" %}
{% load static %}

{% block title %}Объявления{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped" width="100%">
                    <thead>
                    <tr>
                        <th>Автор</th>
                        <th>Заголовок</th>
                        <th>Текст</th>
                        <th>Выполнено</th>
                    </tr>
                    </thead>
                    {% for t in tasks %}
                        <tr>
                            <td align="center">{{ t.author }}</td>
                            <td align="center">{{ t.title }}</td>
                            <td align="center">{{ t.text }}</td>
                            <td align="center">{% if t.solved %}
                                <p class="btn btn-primary">
                                    Да
                                </p>
                            {% else %}
                                <p class="btn btn-info">
                                    Нет
                                </p>

                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col">
            </div>
        </div>
    </div>

{% endblock %}