{% extends "tasks/base.html" %}
{% load static %}

{% block title %}Объявления{% endblock %}

{% block content %}
  <h1>Объявления</h1>
      <p style="color:red"> Новый адрес сайта: https://sch.buran.rest </p><br>
      <p style="color:red"> В личном кабинете добавлена ссылка на книги</p>
      <p class="font-weight-bold" >
          Система тестирования: <a href="http://mdl.sch239.net">http://mdl.sch239.net</a><br>
          Почта: sch@buran.rest<br>
          Телеграм:  <a href="https://t.me/sch239">@sch239</a><br>
          Github:  <a href="https://github.com/sch239">https://github.com/sch239</a><br>
      </p>
{% endblock %}